body{
    margin-left: 40%;
    background-image: url("img/fundo.jpg");
}

h1{
    color: #074724;
    font-family: fantasy;
    letter-spacing: 2px;
    font-size: 40px;
}

h2{
    color: #236842;
    font-family: fantasy;
    letter-spacing: 2px;
}

.a1{
    color: #666;
    font-size: 18px;
    text-decoration: none;
    font-family: fantasy;
    letter-spacing: 2px;
}
.a2{
    color: #fff;
    font-family: fantasy;
    letter-spacing: 2px;
    text-decoration: none;
}

button{
    padding: 10px;
    background-color: green;
}


